<mat-toolbar>
  <img src="https://i.pinimg.com/474x/da/65/11/da65117fe75a6e39aa12db6456a744fa.jpg" alt="Comic Book">
  <div class="mat-display-6">
    <button mat-button [matMenuTriggerFor]="menu" class="menu">Menu</button>
    <mat-menu #menu="matMenu">
  <button mat-menu-item>Login</button>
  <button mat-menu-item>Signup</button>
  <button mat-menu-item>Catalog</button>
    </mat-menu>
  </div>
  <!-- <div>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div> -->
  <div class="u-name">
    <p>UserName</p>
  </div>

</mat-toolbar>
